*.class

#other file
*.7z

# pom
pom.xml

#package file
*.war
*.ear

#kidff3 ignore
*.orig

#maven ignore
target/

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

#vue
.vscode/
.vscode
node_modules/
web/test/
web/package-lock.json

# data
data-visualization/
source.py
