<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clt.dao.ConnectTeacherMapper" >
<select id="selectTeacher_sub" parameterType="String" resultType="com.clt.domain.ConnectTeacher">
select distinct bas_Name,sub_Name,id from df_connect_teacher where cla_Name=#{classname};
</select>

</mapper>