<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clt.dao.KaoqinMapper" >
  <resultMap id="BaseResultMap" type="com.clt.domain.Kaoqin" >
    <constructor >
      <idArg column="kaoqing_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qj_term" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DataDateTime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ControllerID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="controler_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="control_task_order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_studentID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cla_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_classid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    kaoqing_id, qj_term, DataDateTime, ControllerID, controler_name, control_task_order_id, 
    bf_studentID, bf_Name, cla_Name, bf_classid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kaoqin
    where kaoqing_id = #{kaoqingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kaoqin
    where kaoqing_id = #{kaoqingId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.clt.domain.Kaoqin" >
    insert into kaoqin (kaoqing_id, qj_term, DataDateTime, 
      ControllerID, controler_name, control_task_order_id, 
      bf_studentID, bf_Name, cla_Name, 
      bf_classid)
    values (#{kaoqingId,jdbcType=VARCHAR}, #{qjTerm,jdbcType=VARCHAR}, #{datadatetime,jdbcType=VARCHAR}, 
      #{controllerid,jdbcType=VARCHAR}, #{controlerName,jdbcType=VARCHAR}, #{controlTaskOrderId,jdbcType=VARCHAR}, 
      #{bfStudentid,jdbcType=VARCHAR}, #{bfName,jdbcType=VARCHAR}, #{claName,jdbcType=VARCHAR}, 
      #{bfClassid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clt.domain.Kaoqin" >
    insert into kaoqin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kaoqingId != null" >
        kaoqing_id,
      </if>
      <if test="qjTerm != null" >
        qj_term,
      </if>
      <if test="datadatetime != null" >
        DataDateTime,
      </if>
      <if test="controllerid != null" >
        ControllerID,
      </if>
      <if test="controlerName != null" >
        controler_name,
      </if>
      <if test="controlTaskOrderId != null" >
        control_task_order_id,
      </if>
      <if test="bfStudentid != null" >
        bf_studentID,
      </if>
      <if test="bfName != null" >
        bf_Name,
      </if>
      <if test="claName != null" >
        cla_Name,
      </if>
      <if test="bfClassid != null" >
        bf_classid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kaoqingId != null" >
        #{kaoqingId,jdbcType=VARCHAR},
      </if>
      <if test="qjTerm != null" >
        #{qjTerm,jdbcType=VARCHAR},
      </if>
      <if test="datadatetime != null" >
        #{datadatetime,jdbcType=VARCHAR},
      </if>
      <if test="controllerid != null" >
        #{controllerid,jdbcType=VARCHAR},
      </if>
      <if test="controlerName != null" >
        #{controlerName,jdbcType=VARCHAR},
      </if>
      <if test="controlTaskOrderId != null" >
        #{controlTaskOrderId,jdbcType=VARCHAR},
      </if>
      <if test="bfStudentid != null" >
        #{bfStudentid,jdbcType=VARCHAR},
      </if>
      <if test="bfName != null" >
        #{bfName,jdbcType=VARCHAR},
      </if>
      <if test="claName != null" >
        #{claName,jdbcType=VARCHAR},
      </if>
      <if test="bfClassid != null" >
        #{bfClassid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clt.domain.Kaoqin" >
    update kaoqin
    <set >
      <if test="qjTerm != null" >
        qj_term = #{qjTerm,jdbcType=VARCHAR},
      </if>
      <if test="datadatetime != null" >
        DataDateTime = #{datadatetime,jdbcType=VARCHAR},
      </if>
      <if test="controllerid != null" >
        ControllerID = #{controllerid,jdbcType=VARCHAR},
      </if>
      <if test="controlerName != null" >
        controler_name = #{controlerName,jdbcType=VARCHAR},
      </if>
      <if test="controlTaskOrderId != null" >
        control_task_order_id = #{controlTaskOrderId,jdbcType=VARCHAR},
      </if>
      <if test="bfStudentid != null" >
        bf_studentID = #{bfStudentid,jdbcType=VARCHAR},
      </if>
      <if test="bfName != null" >
        bf_Name = #{bfName,jdbcType=VARCHAR},
      </if>
      <if test="claName != null" >
        cla_Name = #{claName,jdbcType=VARCHAR},
      </if>
      <if test="bfClassid != null" >
        bf_classid = #{bfClassid,jdbcType=VARCHAR},
      </if>
    </set>
    where kaoqing_id = #{kaoqingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clt.domain.Kaoqin" >
    update kaoqin
    set qj_term = #{qjTerm,jdbcType=VARCHAR},
      DataDateTime = #{datadatetime,jdbcType=VARCHAR},
      ControllerID = #{controllerid,jdbcType=VARCHAR},
      controler_name = #{controlerName,jdbcType=VARCHAR},
      control_task_order_id = #{controlTaskOrderId,jdbcType=VARCHAR},
      bf_studentID = #{bfStudentid,jdbcType=VARCHAR},
      bf_Name = #{bfName,jdbcType=VARCHAR},
      cla_Name = #{claName,jdbcType=VARCHAR},
      bf_classid = #{bfClassid,jdbcType=VARCHAR}
    where kaoqing_id = #{kaoqingId,jdbcType=VARCHAR}
  </update>
</mapper>