<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clt.dao.StudentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.clt.domain.StudentInfo" >
    <constructor >
      <idArg column="bf_StudentID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_nation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_BornDate" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cla_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_NativePlace" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Bf_ResidenceType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_policy" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cla_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cla_term" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_zhusu" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_leaveSchool" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bf_qinshihao" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    bf_StudentID, bf_Name, bf_sex, bf_nation, bf_BornDate, cla_Name, bf_NativePlace, 
    Bf_ResidenceType, bf_policy, cla_id, cla_term, bf_zhusu, bf_leaveSchool, bf_qinshihao
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from student_info
    where bf_StudentID = #{bfStudentid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student_info
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student_info
    where bf_StudentID = #{bfStudentid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.clt.domain.StudentInfo" >
    insert into student_info (bf_StudentID, bf_Name, bf_sex,
      bf_nation, bf_BornDate, cla_Name,
      bf_NativePlace, Bf_ResidenceType, bf_policy,
      cla_id, cla_term, bf_zhusu,
      bf_leaveSchool, bf_qinshihao)
    values (#{bfStudentid,jdbcType=VARCHAR}, #{bfName,jdbcType=VARCHAR}, #{bfSex,jdbcType=VARCHAR},
      #{bfNation,jdbcType=VARCHAR}, #{bfBorndate,jdbcType=VARCHAR}, #{claName,jdbcType=VARCHAR},
      #{bfNativeplace,jdbcType=VARCHAR}, #{bfResidencetype,jdbcType=VARCHAR}, #{bfPolicy,jdbcType=VARCHAR},
      #{claId,jdbcType=VARCHAR}, #{claTerm,jdbcType=VARCHAR}, #{bfZhusu,jdbcType=VARCHAR},
      #{bfLeaveschool,jdbcType=VARCHAR}, #{bfQinshihao,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clt.domain.StudentInfo" >
    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bfStudentid != null" >
        bf_StudentID,
      </if>
      <if test="bfName != null" >
        bf_Name,
      </if>
      <if test="bfSex != null" >
        bf_sex,
      </if>
      <if test="bfNation != null" >
        bf_nation,
      </if>
      <if test="bfBorndate != null" >
        bf_BornDate,
      </if>
      <if test="claName != null" >
        cla_Name,
      </if>
      <if test="bfNativeplace != null" >
        bf_NativePlace,
      </if>
      <if test="bfResidencetype != null" >
        Bf_ResidenceType,
      </if>
      <if test="bfPolicy != null" >
        bf_policy,
      </if>
      <if test="claId != null" >
        cla_id,
      </if>
      <if test="claTerm != null" >
        cla_term,
      </if>
      <if test="bfZhusu != null" >
        bf_zhusu,
      </if>
      <if test="bfLeaveschool != null" >
        bf_leaveSchool,
      </if>
      <if test="bfQinshihao != null" >
        bf_qinshihao,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bfStudentid != null" >
        #{bfStudentid,jdbcType=VARCHAR},
      </if>
      <if test="bfName != null" >
        #{bfName,jdbcType=VARCHAR},
      </if>
      <if test="bfSex != null" >
        #{bfSex,jdbcType=VARCHAR},
      </if>
      <if test="bfNation != null" >
        #{bfNation,jdbcType=VARCHAR},
      </if>
      <if test="bfBorndate != null" >
        #{bfBorndate,jdbcType=VARCHAR},
      </if>
      <if test="claName != null" >
        #{claName,jdbcType=VARCHAR},
      </if>
      <if test="bfNativeplace != null" >
        #{bfNativeplace,jdbcType=VARCHAR},
      </if>
      <if test="bfResidencetype != null" >
        #{bfResidencetype,jdbcType=VARCHAR},
      </if>
      <if test="bfPolicy != null" >
        #{bfPolicy,jdbcType=VARCHAR},
      </if>
      <if test="claId != null" >
        #{claId,jdbcType=VARCHAR},
      </if>
      <if test="claTerm != null" >
        #{claTerm,jdbcType=VARCHAR},
      </if>
      <if test="bfZhusu != null" >
        #{bfZhusu,jdbcType=VARCHAR},
      </if>
      <if test="bfLeaveschool != null" >
        #{bfLeaveschool,jdbcType=VARCHAR},
      </if>
      <if test="bfQinshihao != null" >
        #{bfQinshihao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clt.domain.StudentInfo" >
    update student_info
    <set >
      <if test="bfName != null" >
        bf_Name = #{bfName,jdbcType=VARCHAR},
      </if>
      <if test="bfSex != null" >
        bf_sex = #{bfSex,jdbcType=VARCHAR},
      </if>
      <if test="bfNation != null" >
        bf_nation = #{bfNation,jdbcType=VARCHAR},
      </if>
      <if test="bfBorndate != null" >
        bf_BornDate = #{bfBorndate,jdbcType=VARCHAR},
      </if>
      <if test="claName != null" >
        cla_Name = #{claName,jdbcType=VARCHAR},
      </if>
      <if test="bfNativeplace != null" >
        bf_NativePlace = #{bfNativeplace,jdbcType=VARCHAR},
      </if>
      <if test="bfResidencetype != null" >
        Bf_ResidenceType = #{bfResidencetype,jdbcType=VARCHAR},
      </if>
      <if test="bfPolicy != null" >
        bf_policy = #{bfPolicy,jdbcType=VARCHAR},
      </if>
      <if test="claId != null" >
        cla_id = #{claId,jdbcType=VARCHAR},
      </if>
      <if test="claTerm != null" >
        cla_term = #{claTerm,jdbcType=VARCHAR},
      </if>
      <if test="bfZhusu != null" >
        bf_zhusu = #{bfZhusu,jdbcType=VARCHAR},
      </if>
      <if test="bfLeaveschool != null" >
        bf_leaveSchool = #{bfLeaveschool,jdbcType=VARCHAR},
      </if>
      <if test="bfQinshihao != null" >
        bf_qinshihao = #{bfQinshihao,jdbcType=VARCHAR},
      </if>
    </set>
    where bf_StudentID = #{bfStudentid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clt.domain.StudentInfo" >
    update student_info
    set bf_Name = #{bfName,jdbcType=VARCHAR},
      bf_sex = #{bfSex,jdbcType=VARCHAR},
      bf_nation = #{bfNation,jdbcType=VARCHAR},
      bf_BornDate = #{bfBorndate,jdbcType=VARCHAR},
      cla_Name = #{claName,jdbcType=VARCHAR},
      bf_NativePlace = #{bfNativeplace,jdbcType=VARCHAR},
      Bf_ResidenceType = #{bfResidencetype,jdbcType=VARCHAR},
      bf_policy = #{bfPolicy,jdbcType=VARCHAR},
      cla_id = #{claId,jdbcType=VARCHAR},
      cla_term = #{claTerm,jdbcType=VARCHAR},
      bf_zhusu = #{bfZhusu,jdbcType=VARCHAR},
      bf_leaveSchool = #{bfLeaveschool,jdbcType=VARCHAR},
      bf_qinshihao = #{bfQinshihao,jdbcType=VARCHAR}
    where bf_StudentID = #{bfStudentid,jdbcType=VARCHAR}
  </update>
  <select id="selectStunamebyid" parameterType="String" resultType="String">
    select bf_Name from student_info where bf_StudentID=#{id};
  </select>
  <select id="selectStubyClassname" parameterType="String" resultMap="BaseResultMap">

select * from student_info where cla_Name=#{classname};
  </select>
</mapper>

