<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clt.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.clt.domain.Teacher" >
    <constructor >
      <idArg column="t_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="term" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cla_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cla_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gra_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bas_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bas_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    t_id, term, cla_id, cla_Name, gra_Name, sub_id, sub_Name, bas_id, bas_Name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.clt.domain.Teacher" >
    insert into teacher (t_id, term, cla_id, 
      cla_Name, gra_Name, sub_id, 
      sub_Name, bas_id, bas_Name
      )
    values (#{tId,jdbcType=VARCHAR}, #{term,jdbcType=VARCHAR}, #{claId,jdbcType=VARCHAR}, 
      #{claName,jdbcType=VARCHAR}, #{graName,jdbcType=VARCHAR}, #{subId,jdbcType=VARCHAR}, 
      #{subName,jdbcType=VARCHAR}, #{basId,jdbcType=VARCHAR}, #{basName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.clt.domain.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="claId != null" >
        cla_id,
      </if>
      <if test="claName != null" >
        cla_Name,
      </if>
      <if test="graName != null" >
        gra_Name,
      </if>
      <if test="subId != null" >
        sub_id,
      </if>
      <if test="subName != null" >
        sub_Name,
      </if>
      <if test="basId != null" >
        bas_id,
      </if>
      <if test="basName != null" >
        bas_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="claId != null" >
        #{claId,jdbcType=VARCHAR},
      </if>
      <if test="claName != null" >
        #{claName,jdbcType=VARCHAR},
      </if>
      <if test="graName != null" >
        #{graName,jdbcType=VARCHAR},
      </if>
      <if test="subId != null" >
        #{subId,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="basId != null" >
        #{basId,jdbcType=VARCHAR},
      </if>
      <if test="basName != null" >
        #{basName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clt.domain.Teacher" >
    update teacher
    <set >
      <if test="term != null" >
        term = #{term,jdbcType=VARCHAR},
      </if>
      <if test="claId != null" >
        cla_id = #{claId,jdbcType=VARCHAR},
      </if>
      <if test="claName != null" >
        cla_Name = #{claName,jdbcType=VARCHAR},
      </if>
      <if test="graName != null" >
        gra_Name = #{graName,jdbcType=VARCHAR},
      </if>
      <if test="subId != null" >
        sub_id = #{subId,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        sub_Name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="basId != null" >
        bas_id = #{basId,jdbcType=VARCHAR},
      </if>
      <if test="basName != null" >
        bas_Name = #{basName,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clt.domain.Teacher" >
    update teacher
    set term = #{term,jdbcType=VARCHAR},
      cla_id = #{claId,jdbcType=VARCHAR},
      cla_Name = #{claName,jdbcType=VARCHAR},
      gra_Name = #{graName,jdbcType=VARCHAR},
      sub_id = #{subId,jdbcType=VARCHAR},
      sub_Name = #{subName,jdbcType=VARCHAR},
      bas_id = #{basId,jdbcType=VARCHAR},
      bas_Name = #{basName,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>