<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clt.dao.WordCloudMapper" >
  <resultMap id="BaseResultMap" type="com.clt.domain.WordCloud" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="内容" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, 内容
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from df_wordcloud_text_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from df_wordcloud_text_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.clt.domain.WordCloud" >
    insert into df_wordcloud_text_data (id, 内容)
    values (#{id,jdbcType=VARCHAR}, #{内容,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clt.domain.WordCloud" >
    insert into df_wordcloud_text_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="内容 != null" >
        内容,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="内容 != null" >
        #{内容,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clt.domain.WordCloud" >
    update df_wordcloud_text_data
    <set >
      <if test="内容 != null" >
        内容 = #{内容,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clt.domain.WordCloud" >
    update df_wordcloud_text_data
    set 内容 = #{内容,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>