#headImg {
  width: 90%;
}

#he {
  box-shadow: 0px 5px 12px #333333;
  margin-bottom: 10px;
}

#message {
  position: fixed;
  right: 3%;
  bottom: 10%;
  z-index: 1;
}

.parent {
  position: relative;
}

#meBu {
  float: right;
}

.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rightParts {
  margin-left: 5px;
}
