.oddDiv {
  background-color: rgb(227, 255, 253);
  text-align:center;
}
.evenDiv {
  background-color: rgb(155, 231, 236);
  /* background-color: transparent; */
  text-align:center;
}
#homeHeadBack {
  background: url(../img/headBack.jpg);
  background-size: 100% 100%;
  padding: 0;
}
/* .el-col {
  background-color: rgba(231, 216, 200, 0.2) !important;
} */
.center {
  left:0;
  top:0;
  right:0;
  bottom: 0;
  margin: auto;
}
#teacherDis {
  left:0;
  top:0;
  right:0;
  bottom: 0;
  margin: auto;
}
.middleConten {
  width: 70%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.middleConten > .title {
  padding-top: 10px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  text-align: left;
  font-size: 20px;
  height:40px;
  color: #003f43;
}
.el-row {
  width:100%;
}
.el-main {
  padding: 0 !important;
}
.clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }