.oddDiv {
  background-color: #2bb7b3;
  text-align:center;
}
.evenDiv {
  background-color: #c7dcdf;
  /* background-color: transparent; */
  text-align:center;
}
#homeHeadBack {
  background: url(../img/headBack.jpg);
  background-size: 100% 100%;
  padding: 0;
}
/* .el-col {
  background-color: rgba(231, 216, 200, 0.2) !important;
} */
.el-card {
  z-index: 99;
}
.center {
  left:0;
  top:0;
  right:0;
  bottom: 0;
  margin: auto;
}
#teacherDis {
  left:0;
  top:0;
  right:0;
  bottom: 0;
  margin: auto;
}
.middleConten {
  width: 70%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.middleConten > .title {
  padding-top: 10px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  text-align: left;
  font-size: 20px;
  height:40px;
  color: #003f43;
}
.el-row {
  width:100%;
}
.el-main {
  padding: 0 !important;
}
.foot {
  background-color: #003f43;
  height: 420px !important;
  padding-top: 120px !important;
  display: block;
}
#title > h3 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
#title > p {
  line-height: 1.7;
  margin: 0;
  padding: 0;
  color: #fff;
}
.foot > #title {
  padding-top: 70px;
}
.footImg {
  width: 30%;
  float: left;
}
.ftwrap {
  width: 1150px;
  margin: 0 auto;
}
.clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }